form{
    width: 350px;
    margin: 50px auto;
    padding: 10px;
}
form div{
    margin-top: 10px;
}
form div label{
    font-weight: bold;
    font-size: 20px;
}
input, select, textarea{
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px -7px gray
}
#subject{
    width: 372px;
}
textarea{
    resize: none;
}
.contactBtn #contact button{
        color: white;
        background-color: #000;
        padding: 10px 20px;
        margin-top: 5px;
        font-size: 15px;
        border: 1px solid #000;
        border-radius: 20px;
        cursor: pointer;
}
form button{
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 17px;
    background: #000;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    html, body{
        height: 100%;
        width: 900px;
    }
    form{
        width: 500px;
    }
    input, select, textarea{
        height: 30px;
    }
    #subject{
        width: 522px;
        height: 50px;
    }
    .nav-left ul li a{
        display: none;
    }
    #barsmenu {
        display: block;
    }
    .nav-right a{
        margin-right: 0;
    }
    .nav-right{
        display: flex;
        justify-content: flex-end;
    }
}
