  /* Form */
body h1{
    font-size: 36px;
    font-weight: bold;
}
form{
  width: 500px;
  margin: 50px auto;
  padding: 10px;
}
form div{
  margin-top: 10px;
}
form div label{
  font-weight: bold;
  font-size: 20px;
}
input, textarea{
  display: block;
  width: 475px;
  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 4px 10px -7px gray
}
input[type='checkbox']{
  width: 100%;
}
textarea{
  resize: none;
}
.date{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}
.date input{
  width: 225px;
}

.label{
 display: flex;
 flex-direction: row;
 justify-content: space-around; 
}
.logos{
  display: flex;
}
.logos label{
  font-size: 12px;
  font-weight: 300;
}
.input-image-group {
  width: 470px;
  height: 25px;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}
.input-image-group label p {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
  background-color: #000;
  height: 28px;
  padding: 0 25px;
  border-radius: 5px;
}
.input-image-group #input-image{
  width: 600px;
}
.input-image-group label img{
  width: 25px;
  height: 25px;
}
.input-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
}

form .button-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
form button {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 17px;
  background: #000;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* detail project */
h1{
  font-size: 20px; 
  font-weight: 500; 
  margin: 10px 0 0 0;
}
h1 a{
  text-decoration: none; 
  color: #000
}
.icon-technology #nodejs #nextjs #reactjs #typescript { 
  display: flex; 
  justify-content: space-between; 
  height: 10px;
  width: 10px;
}
.button{
  display: flex; 
  align-content: end;
  
}
.button button{
  margin: 5px 0 0 5px;
  width: 200px;
}
#contents{
  display: flex;
  flex-wrap: wrap;
}
.container{
  width: 20%;
  height: 70vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.image img{
  height: 180px;
  width: 270px;
  object-fit: cover;
  border-radius: 10px;
}
.upper h3{
  text-decoration: none;
  font-size: 10px;
  margin: 0;
  font-weight: 300;
}
.button button{
  width: 130px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  padding: 5px;
}

@media only screen and (max-width: 720px) {
  html, body{
    height: 100%;
    width: 100%;
}
  .form h1{
    font-size: 42px;
    margin: auto;
  }
  .container{
    width: 150px;
    height: 270px;
    margin: 10px 5px 10px 5px;
  }
  .upper h1, p{
    font-size: 12px;
  }
  form input,
  textarea,
  select{
    width: 500px;
  }
  .date{
    display: flex;
    width: 520px;
    justify-content: space-between;
  }
  .date input[type='date']{
    width:235px;
  }
  .image img{
    height: 200px;
    width: 100%;
  }
  .button button{
    width: 70%;
    margin: 0 10px;
  }
  .form-container{
    width: 500px;
  }
  .form{
    width: 500px;
    padding:0;
}
.date input{
  width: 240px;
}
.technology{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  height: 120px;
}
  .container{
    width: 300px;
    height: 35vh;
    padding: 20px;
  }
  .upper h1, p{
    font-size: 18px;
  }
}